body {
    padding-top: 50px;
    background-color: lightblue;
}

h1 {
  text-align: center;
}

.main-logo {

  height: 25%;
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.input-group {

 max-width: 750px;
 
  margin: 0 auto;
  ;
}

.panel {
    max-width: 750px;
    width: auto;
    display: block;
    margin: 0 auto;
}

/*.modal{
   max-height:80%;
}*/
.modal-header{
   height:15%;    
}
.modal-body{
   height:70%;
   overflow:auto;
}

.modal-content {
  height:500px;
  overflow:auto;
}

table {
    max-width: 50%;
}
th {
    background: #f1f1f1;
    font-weight: bold;
    padding: 6px;
}
td {
    background: #f9f9f9;
    padding: 6px;
}
