body {
    padding-top: 50px;
    background: radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 8px 9px;
    background-color: #282828;
    background-size: 16px 16px;
    
}

.btn-methods {
    border-radius: 25px;
}

.btn-delete {
    background-color: #f44336;
    border-radius: 25px;
    font-weight: bold;
    
}
.btn-get {
    background-color: #4CAF50;
    border-radius: 25px;
    font-weight: bold;
}
h1 {
    text-align: center;
    color: 	#C0C0C0;
}

.main-logo {
    height: 25%;
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.input-group {
    max-width: 750px;
    margin: 0 auto;
}

.panel {
    max-width: 750px;
    width: auto;
    display: block;
    margin: 0 auto;
}

.modal-header {
    height: 15%;
}

.modal-body {
    height: 70%;
    overflow: auto;
}

.modal-content {
    height: 500px;
    overflow: auto;
}

.playlist-table {
    margin: 0 auto;
}

th {
   
    font-weight: bold;
    padding: 6px;
}

td {
   
    padding: 6px;
}